.block ul.book-thumber-books {
	list-style:none;
	margin-left:0;
	padding-left:0;
}
ul.book-thumber-books li
{
	list-style:none !important;
	margin-left:0;
}
ul.book-thumber-books a  {
	display:block;
	/*min-height:24px; /* hack for mozilla buttons */
}
ul.book-thumber-books a:hover {
	background-color:#a9d8dC /*$bg_interactive*/;
}
ul.book-thumber-books .book-thumber-pages {
    padding-left:0;
}
ul.book-thumber-books .children {
	padding-left:28px;
}
ul.book-thumber-books button {
	line-height: 1;
	padding: 0;
	text-align: center;
	vertical-align: center;
	width: 18px;
  height:18px;
  font-size:18px;
	margin:0;
	margin-right:10px;
	float:left;
  cursor:pointer;
  box-sizing:border-box;
}
ul.book-thumber-books button.disabled {
    color:#aaa;
}
